*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100vw;
    height: 8vh;
    background-color: #8fd5e3;
}

.principal{
    display: flex;
    width: 10vw;
    height: auto;
}

.menu{
    margin: 15px;
}
.menu:hover{
    box-shadow:0 0 30px #383838; ;
    transition: 0.5s;
}
a{
    text-decoration: none;
    color: black;
}